@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../public/Sprinkle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}