.Button {
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #864CFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 400px) {
    .Button {
        width: 70px;
        height: 70px;
        margin: 10px 0;
    }
}