.Home_Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .Message {
        display: none;
        position: absolute;
        top: 10px;
        font-size: 20pt;
        color: black;
        // background: #353535;
        background: transparent;
        border: black 2px solid;
        border-radius: 10px;
        padding: 10px;
    }

    .Active {
        display: block;
        animation: open 0.7s 1 ease-in-out;
    }

    .Main_up {
        display: flex;
    }

    .Main_center {
        display: flex;
        justify-content: end;
        width: 85%;
    }

    .Main_down {
        display: flex;
        flex-direction: column;
        align-items: end;

        h2 {
            font-size: 50pt;
        }

        h3 {
            font-size: 50pt;
            margin-right: 20px;
            color: #864CFF;
        }

        .Text_Years {
            display: flex;
            align-items: center;
        }

        .Text_Months {
            display: flex;
        }

        .Text_Days {
            display: flex;
        }
    }
}

@keyframes open {
    0% {
        transform: translateY(-70px)
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 700px) {
    .Home_Page {
        
        .Message {
            font-size: 15pt;
        }

        .Main_down {
            h2 {
                font-size: 40pt;
            }
        }

        .Main_center {
            justify-content: center;
        }
    }
}

@media (max-width: 400px) {
    .Home_Page {
        
        .Message {
            font-size: 13pt;
        }

        .Main_down {
            h2 {
                font-size: 35pt;
            }

            h3 {
                font-size: 33pt;
            }
        }
    }
}